@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Oswald&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #F7F3EF;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

h2 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #1e392a;
    font-size: 2.5em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #1e392a;
}

p, li {
    font-family: 'EB Garamond', serif;
    color: #1e392a;
    font-size: 1.3em;
}

li {
    text-align: left;   
}

a {
    color: #1e392a;
}

a h1 {
    color: #fff;
    text-decoration: none;
}

.center {
    /*text-align: center;
    margin: 0 auto;
    width: 100%;*/
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.center > * {
    gap: .2em;
}

.caption {
    text-align: center;
    padding: .5em;
}

button, .btn {
    text-align: center;
    margin: auto;
    margin-bottom: .1em;
}

img {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.panel {
    text-align: center;
    background-color: #F2EBE5;
    border-radius: 2em;
    width: 90%;
    margin: 2em auto;
    padding: .75em;
    overflow-wrap: break-word;
}

.panel p {
    text-align: left;
}

nav, .nav {
    background-color: #1e392a;
    color: #fff;
    margin: 0 auto;
    overflow-wrap: break-word;
    width: 100%;
}

nav *, .nav * {
    margin: auto;
    padding: .25em;
}

nav h1, .nav h1 {
    font-size: 2.2em;
}

a h1, a button {
    text-decoration: none;
}

#top {
    text-decoration: none;
    color: #fff;
}

button {
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    background-color: #1e392a;
    color: #fff;
    padding: .2em .6em;
    border: none;
    border-radius: .25em;
}

.tree ul {
	padding-top: 20px;
    position: relative;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	/*padding: 20px 5px 0 5px;*/
    padding: 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #1e392a;
	width: 50%; 
    height: 10px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #1e392a;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #1e392a;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #1e392a;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #1e392a;
	padding: 5px 10px;
	text-decoration: none;
	color: #1e392a;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

table {
    width: 150vw;
    overflow-x: auto;
}

.span-2 {
    column-span: 2;
}

.buttons {
    display: flex; 
    flex-direction: column;
}

.buttons > * {
    width: 80%;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #1e392a;
    margin: 0;
    padding: 1em;
}

footer p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

/*Media queries*/
/*PC*/

@media only screen and (min-width: 1024px) {
    .panel {
        width: 80%;
    }
    
    .sketchfab-embed-wrapper {
        width: 60%;
        margin: 25px auto 0;
        text-align: center;
    }

    img {
        max-height: 550px;
        object-fit: contain;
    }

    .caption {
        margin-top: 0;
    }
}